.myCard {
  width: 25%;
  float: left;
  margin: 10px;
  height: 200px;
}

.JavaScript {
  color: #f1e05a;
}

.TypeScript {
  color: #2b7489;
}

.HTML {
  color: #e34f26;
}

.newer-date {
  color: green;
}
